/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

/*
Lam tu ngoai vao trong
Lam tu tren xuong duoi 
Tong quan den chi tiet
*/

/* 
Position 
Size
Color
Font
*/
#main {
}

.clear {
  clear: both;
}

#header {
  height: 46px;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#nav {
  display: inline-block;
}

#nav,
.subnav {
  list-style: none;
}

#nav > li {
  display: inline-block;
}

#nav li {
  position: relative;
}

#nav li:hover .subnav {
  display: block;
}

#nav .subnav li:hover a,
#nav > li:hover > a {
  color: #000;
  background-color: #ccc;
}

#nav > li > a {
  text-transform: uppercase;
  color: #fff;
}

#nav li a {
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
  display: block;
}
#nav .subnav {
  min-width: 160px;
  position: absolute;
  top: 100%;
  left: 0px;
  display: none;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0.3);
}

#nav .subnav a {
  padding: 0 12px;
  color: #000;
  line-height: 38px;
}

#nav .nav-arrow-down {
  font-size: 11px;
}

#header .search-button {
  float: right;
  line-height: 46px;
  padding: 0 23px;
}

#header .search-button:hover {
  cursor: pointer;
  background-color: red;
}

#header .search-icon {
  color: #fff;
  height: 46px;
}

#slider {
  position: relative;
  margin-top: 46px;
  padding-top: 50%;
  background: url("/assets/img/slider/slider1.jpg") top center / cover no-repeat;
}

#slider .text-content {
  position: absolute;
  bottom: 47px;
  color: #fff;
  /* Can giua  */
  /* left: 50%;
  transform: translateX(-50%); */
  text-align: center;
  width: 100%;
}

#slider .text-heading {
  font-weight: 500;
  font-size: 15px;
}

#slider .text-decription {
  margin-top: 30px;
}

#content {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#content .content-section {
  width: 800px;
  max-width: 100%;
  padding: 64px 16px;
  margin-left: auto;
  margin-right: auto;
}

#content .section-theband {
  color: #000 !important;
}

#content .section-heading {
  color: #fff;
  letter-spacing: 4px;
  font-size: 30px;
  font-weight: 400;
}

#content .section-sub-heading {
  margin: 15px 0;
  font-size: 15px;
  font-style: italic;
  color: rgb(187, 187, 187);
}

#content .about-text {
  font-size: 15px;
  margin-top: 25px;
  text-align: justify;
  line-height: 1.5;
}

#content .section-heading,
#content .section-sub-heading {
  text-align: center;
}

#content .members-list {
  /* overflow: hidden; */
}

#content .members-item {
  float: left;
  width: calc(100% / 3);
  text-align: center;
  padding: 64px 16px;
}

#content .members-name {
  text-align: center;
  margin: 15px 0;
}

#content .member-img {
  margin-bottom: 16px;
  width: 60%;
  border-radius: 4px;
}

#content .header-tour {
  background-color: #fff;
}

.all-tour {
  background-color: #000;
  width: 100% !important;
}

.section-heading {
  color: rgb(27, 25, 25);
}

.content-header {
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
}

.tag-content,
.tag-content-special {
  padding: 0 8px;
  margin-left: 16px;
}

.tag-content {
  /* float: right; */
  color: #fff;
  background-color: #f44336;
}

.tag-content-special {
  background-color: #000;
  color: #fff;
  float: right;
  border-radius: 50%;
}

.all-img {
  padding: 32px 8px;
  font-family: La;
  width: 100%;
}

.content1-of-img,
.content2-of-img,
.content3-of-img {
  margin: 15px 0;
}

.img-content {
  padding: 0 8px;
  float: left;
  width: calc(100% / 3);
}

.content1-of-img {
  /* width: 100%; */
  background-color: #fff;
  padding: 0.15em 16px;
}

.img-newyork,
.img-paris,
.img-sanfran {
  vertical-align: middle;
  width: 100%;
}

.img-newyork:hover,
.img-paris:hover,
.img-sanfran:hover {
  opacity: 0.7;
}

.button {
  padding: 8px 16px;
  margin-bottom: 16px;
  border-radius: 0px;
  background-color: #000;
  color: #fff;
  border-left: ;
}

.button:hover {
  background-color: #ccc;
  color: #000;
  cursor: pointer;
}

.content2-of-img {
  color: rgb(170, 168, 168);
}

#footer {
}
